
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;
  }
  .landing {
    background-image: url(img/56933159.jpeg);
    background-size: cover;
    text-align: center;
    height: 100vh;
    width: 100%;
    font-size: 50px;
    font-family: cursive;
  }
  #land-text {
    padding-top: 200px;
  }
  